*.pyc  
*~  
__pycache__  
env
.env
.env.development
.env.production
.vscode
theme
.DS_Store  
db.sqlite3
config/settings
config/wsgi.py
config/wwsgi.py


config/bk_settings
branding
cache/*
!cache/.gitkeep


logs/*
!logs/.gitkeep


staticfiles


