*.pyc  
*~  
__pycache__  
env
.env
.env.development
.env.production
.vscode
theme
.DS_Store  
db.sqlite3
config/settings
config/wsgi.py
config/wwsgi.py


config/bbk_settings.py
branding
cache/*
!cache/.gitkeep


logs/*
!logs/.gitkeep

media/payment_instruction/*
!media/payment_instruction/.gitkeep

media/transactions/screenshoot/*
!media/transactions/screenshoot/.gitkeep

media/asrams/banner/*
!media/asrams/banner/.gitkeep


staticfiles


