
<h2 class="card-title">OrderNo: {{order.id}}</h2>
<h3 class="text-primary">Order Amount:<small class="fw-light"> {{order.amount}} BDT</small></h3>

<p class="card-text">{{gatway_instruction|safe}}</p>

<form hx-post="{% url 'payment_method:exim_bd' order.id %}" hx-target="#book{{order.book_order_items.all.first.item.id}}" hx-swap="innerHTML" hx-encoding="multipart/form-data" hx-indicator="#spinner{{order.book_order_items.all.first.item.id}}">
    {% csrf_token %}    
    {% if user_form.non_field_errors %} 
    <div class="text-danger">                                              
        {{ user_form.non_field_errors }}                                          
    </div>   
    {% endif %}  
    {% for field in payment_form %}
    <div class="col-12 mb-3">
        <div class="{% if field.name == "agree" %}form-check {% else %} form-floating {% endif %} text-dark">
            {{ field }}          
            <label class="mb-2 text-muted"  for="{{ field.id_for_label }}">{{ field.label }}</label>           
        </div>
        
        {% for error in field.errors %}
        {{error}}
        {% endfor %}
        <small>{{ field.help_text }}</small>
    </div>
    {% endfor %}
    <input class="btn btn-primary btn-lg btn-default" type="submit" value="Confirm"/>   
    <div id="spinner{{order.book_order_items.all.first.item.id}}" class="htmx-indicator">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
    </div>
</form> 

