{% load static %}

<nav class="navbar navbar-expand-md fixed-top navbar-light" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{{site_data.logo}}" width="150" /></a>            
        <button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item nav-link"><a class="nav-link active" href="/#about">About</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="/#asram">Add Asrams</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="/#register">Shishya Register</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="/#book">Books</a></li>

            </ul>
        </div>
    </div>
</nav>




  