<h2 class="card-title">{% if book.pre_order_open %}Pre-Order Open{% else %}{{book.title}}{% endif %}</h2>
<h3 class="text-primary">Pranami:<small class="fw-light"> {{book.price}} BDT</small></h3>
{{book.description|safe|truncatechars:150 }}     
<h5>Fillup the form below to place order:</h5>
<form class="row g-2 justify-content-center align-items-center" hx-post="{{book.get_buy_link}}" hx-target="#book{{book.id}}" hx-swap="innerHTML" hx-indicator="#spinner{{book.id}}">
    {% csrf_token %}
    {% if user_form.non_field_errors %} 
    <div class="text-danger">                                              
        {{ user_form.non_field_errors }}                                          
    </div>   
    {% endif %}  
    {% for field in quantity_form %}  
        <div class="{% if field.name == "phone" %}col-12{% else %}col-md-6{% endif %} ">
            
            <div class="{% if field.name == "phone" %}input-group{% else %}form-floating text-dark{% endif %}">
                {{ field }}
                {% if field.name != "phone" %}
                <label class="mb-2 text-muted"  for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
            </div>
     
            {% for error in field.errors %}
            {{error}}
            {% endfor %}
            <small>{{ field.help_text }}</small>
        </div>
    {% endfor %}
    <input type="hidden" name="form_name" value="quantity_form">                         
    <input class="btn btn-primary btn-lg btn-default" type="submit" value="{% if book.pre_order_open %}Start Pre Order{% else %}Start Order{% endif %}"/>
    <div id="spinner{{book.id}}" class="htmx-indicator">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
    </div>
    <a class="btn btn-primary btn-lg btn-default" href="{{book.get_absolute_url}}">Book Details</a>
</form> 